noiserecorder/__pycache__/__init__.cpython-39.pyc
noiserecorder/__pycache__/__init__.cpython-310.pyc
noiserecorder/__pycache__/__main__.cpython-39.pyc
noiserecorder/__pycache__/__main__.cpython-310.pyc
noiserecorder/__pycache__/main.cpython-39.pyc
noiserecorder/__pycache__/noiserecorder.cpython-39.pyc
noiserecorder/__pycache__/noiserecorder.cpython-310.pyc
30minnoiseovernight.wav
noiserecorder_20221229_234821_601944.wav
test.wav
test30.wav
